<%- include('../partials/header') %>

<form method="POST" action="/restaurants/<%=one.id %>?_method=PUT">
    <h1>Update Favorite Restaurant</h1>
    <label for="name">Restaurant Name:</label>
    <input type="text" value="<%=one.res_name%>" name="res_name" id="restaurants">
    <label for="pricepoint">Price Point:</label>
    <select class="pricepoint" data-style="btn-info" name="price_point">
        <optgroup label="Select Price Point">
            <option name="price_point" value="1">$</option>
            <option name="price_point" value="2">$$</option>
            <option name="price_point" value="3">$$$</option>
            <option name="price_point" value="4">$$$$</option>
        </optgroup>
    </select>
    <label for="address">Address:</label>
    <input type="text" value="<%=one.addresses%>" name="addresses" id="address" placeholder="<%=one.addresses%>">
    <label for="categories">Category:</label>
    <select name="cat_id" data-style="btn-info" id="categoryU">
        <optgroup label= "Select Category">
            <option value="1">Japanese</option>
            <option value="2">Chinese</option>
            <option value="3">Italian</option>
            <option value="4">Korean</option>
            <option value="5">French</option>
            <option value="6">American</option>
            <option value="7">Greek</option>
            <option value="8">Fusion</option>
            <option value="9">Vietnamese</option>
            <option value="10">Thai</option>
            <option value="11">Buffet</option>
            <option value="12">Kosher</option>
            <option value="13">Comfort Food</option>
            <option value="14">Cajun</option>
            <option value="15">Seafood</option>
            <option value="16">Vegeterian</option>
        </optgroup>
    </select>
    <input type="submit" value="Update the Restaurant!">
    </form>
    <form method="POST" action="/restaurants/<%=one.id%>?_method=DELETE">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete Restaurant</button>
    </form>
